:root {
    --card-active: #42a5f5;
    --card-check: #42a5f5;
    --card-idle: #e3f2fd;
    --card-used: #bdbdbd;

    --card-active-hover: #1565c0;
    --card-check-hover: #42a5f5;
    --card-idle-hover: #bbdefb;
    --card-used-hover: #bdbdbd;

    --button-active: #42a5f5;
    --button-hover: #1565c0;

    --color-team-green: #4caf50;
    --color-team-red: #f44336;
    --color-team-blue: #2196f3;
    --color-team-yellow: #ffae00;
}

* {
    user-select: none;
}

.card {
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    box-sizing: border-box;
    width: 1%; /* Allows table-layout: fixed to distribute width evenly */
}
.question-card {
    cursor: pointer;
    height: 125px; /* Fixed height for each question cell */
    transition: background-color 0.2s, transform 0.2s;
}
.topic-card {
    height: 50px; /* Fixed height for each topic cell */
}

table {
    border-spacing: 10px;
    padding: 20px;
    width: 100%;
    height: fit-content;
    table-layout: fixed;
}
table {
    border-spacing: 10px;
    padding: 20px;
    width: 100%;
}


.points-span {
    font-size: 1.5em;
    font-weight: bold;
    color: darkblue;
}
.question-span {
    font-weight: bold;
}
.answer-span {
    font-style: italic;
}


.used {
    background-color: var(--card-used);
    transition: background-color 0.2s;
}
.used:hover {
    background-color: var(--card-used-hover);
    transition: background-color 0.2s;
}
.idle {
    background-color: var(--card-idle);
    transition: background-color 0.2s;
}
.idle:hover {
    background-color: var(--card-idle-hover);
    transition: background-color 0.2s;
}
.active {
    background-color: var(--card-active);
    transition: background-color 0.2s;
}
.active:hover {
    background-color: var(--card-active-hover);
    transition: background-color 0.2s;
}
.check {
    background-color: var(--card-check);
    transition: background-color 0.2s;
}
.check:hover {
    background-color: var(--card-check-hover);
    transition: background-color 0.2s;
}

#teams {
    padding: 5px;
    margin: 30px;
    margin-top: 0;
    border: solid 1px black;
    border-radius: 5px;
}
.team-green {
    color: var(--color-team-green);
}
.team-red {
    color: var(--color-team-red);
}
.team-blue {
    color: var(--color-team-blue);
}
.team-yellow {
    color: var(--color-team-yellow);
}
.team::marker {
    font-size: 0px;
}
.team {
    text-align: center;
}
.team-active {
    font-weight: bold;
    text-decoration: underline;
}


.check-button {
    font-size: 1.25em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 0.5em;
    border: solid 1px black;
    background-color: var(--button-active);
    transition: background-color 0.2s;
}
.check-button:hover {
    background-color: var(--button-hover);
    transition: background-color 0.2s;
}